<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="row">
  <div class="joke"><img width="300" src="../assets/images/joke.jpg"/></div>
  <div class="loading"><img width="600"  src="../assets/images/loading.gif"/></div>
</div>
<ul>

</ul>

<input type="text" [formControl]="cvrField">
<br/>
Results: <br/>
<span id="companyNameFast">{{companyName}}</span><br/>
<span id="companyNameSlow">{{companyNameSlow}}</span>

<router-outlet></router-outlet>
